# Auto detect text files and perform LF normalization
* text=auto

# Deployment files run on Linux: always LF.
*.sh text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
deploy/* text eol=lf
